:root {
  /* declare a variable with `--` syntax */
  --foam: #F4F2F0;
  --porcelain: #D7D2CE;
  --caramel: #D3C0B2;
  --latte: #A99282;
  --coffee: #857B74;
  --darkroast: #47220b;
  --lessdarkroast: #54331d; 
  
}

/*styling for the header */
header {
  background: var(--darkroast);
  text-align: center;
  padding-bottom: 25px; 
}

/*styling for the header text, "EspresSun"*/
header h1{
  font-family: 'Rubik Pixels', cursive;
  font-weight: 600;
  color: white; 
}

/*styling for the header subtext, "Weather related coffee suggestions""*/
header h2{
  font-family: Pike,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  color: white;
}

header img{
  width: 100px;
}

/*styling for the body*/
body {
  background: var(--lessdarkroast);
}

/* styling for the weather section */

/* styling for the weather text*/
#high {
  text-align: center;
  color: white;
  padding-top: 25px;
}

#low {
  text-align: center;
  color: white;
}

#todaysWeather {
  background: var(--caramel);
  border-radius: 15px;
  border: 2px solid var(--coffee);
}

/*styling for Click Me for Coffee button*/
#coffeeClickMe {
  text-align: center;
  color: white;
  font-family: SODO Sans,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  padding: 25px;
}

#coffeeClickMe a {
  color: white;
  text-decoration-line: underline;
}


/* styling for hot button */
#hotBtn {
  background: rgb(201, 96, 96);
  border: 2px solid rgb(161, 74, 74);
  border-radius: 35px;
  width: 200px;
  color: white;
  font-family: SODO Sans,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

/* styling for cold button */
#coldBtn {
  background: lightblue;
  border: 2px solid rgb(140, 185, 200);
  border-radius: 35px;
  width: 200px;
}

/* styling modal button */
#choose {
  background: #7b4011;
  border: 2px solid #5e2d06;
  border-radius: 35px; 
  font-family: SODO Sans,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

/* styling for the modal tab */
#hotCold {
  font-family: SODO Sans,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  background: var(--latte);
  border-radius: 35px;
  border: 2px solid var(--lessdarkroast);
}

#modalHeader {
  font-size: 20px;
  font-family: 'Rubik Pixels', cursive;
}

#container{
  display: block;
  justify-content: center;
}

/* styling for coffee cards*/
.card{
  border-radius: 15px;
  border: 2px solid var(--coffee);
  text-align: center;
  margin-left: 475px;
}

.card h2 {
  color: var(--foam);
}

.card-divider {
  background: var(--latte);
}

.card-section {
  background: var(--foam);
}

/* styling for the card ingredients button*/
#hotIngredientsBtn1, #hotIngredientsBtn2, #hotIngredientsBtn3, #ingredientsBtn1,#ingredientsBtn2,#ingredientsBtn3,#ingredientsBtn4,#ingredientsBtn5 {
  background: var(--caramel);
  border-radius: 15px;
  border: 1px solid var(--coffee);
}

#refresh {
  text-align: center;
}

#refreshBtn {
  background: var(--latte);
  border-radius: 15px;
  border: 1px solid var(--coffee);
}

/* styling for overall webpage */
/*for example, background color, centering the buttons*/
html {
  background: var(--darkroast);
}
